  body {
      text-align: center; /* Центрирование текста */
    }
    h1 {
      font-size: 3em; /* Увеличение размера заголовка */
    }
    form {
      font-size: 1.5em; /* Увеличение размера текста в форме */
    }
