<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <title>Person Page</title>
  <style>
    body {
      background-image: url('https://picsum.photos/3000/2000/?image=1015');
      background-size: cover;
      background-repeat: no-repeat;
    }
    h1 {
      font-weight: bold;
      font-size: 40px;
      color: white;
    }
  </style>
</head>
<body>
<h1> WELCOME TO PERSONAL PAGE<span th:text="${' ' + userLogin}"></span></h1>
</body>
</html>