<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8" >
  <title>Report</title>
  <link rel="stylesheet" href="styles/home.css">
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1>Report Page <span th:text="${' ' + username}"></span></h1>
<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th></th>
    <th></th>
  </tr>
  <th:block th:each="report : ${userReports}">
  <tr>
    <td th:text="${report.lat}"></td>
    <td th:text="${report.lon}"></td>
    <td><button><a th:href="@{|/reports/edit/${report.lat}|}">Edit</a></button></td>
    <td><button><a th:href="@{|/reports/delete/${report.lat}|}">Delete</a></button></td>
  </tr>
  </th:block>
</table>
<br>
<a href="/reports/create">Add new report</a>
</body>
</html>