<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Weather Report</title>
</head>
<body>
<h1>Weather Report</h1>
<div th:if="${weatherResponse != null}">
  <div>
    <span th:text="${' ' + location}"></span>
    <p>Temperature: <span th:text="${weatherResponse.main.temp}"></span></p>
    <p>Feels Like: <span th:text="${weatherResponse.main.feelsLike}"></span></p>
    <p>Pressure: <span th:text="${weatherResponse.main.pressure}"></span></p>
    <p>Humidity: <span th:text="${weatherResponse.main.humidity}"></span></p>
    <p>Min Temperature: <span th:text="${weatherResponse.main.tempMin}"></span></p>
    <p>Max Temperature: <span th:text="${weatherResponse.main.tempMax}"></span></p>
    <p>Sea Level: <span th:text="${weatherResponse.main.seaLevel}"></span></p>
    <p>Ground Level: <span th:text="${weatherResponse.main.grndLevel}"></span></p>
  </div>
  <div>
    <div th:each="weather : ${weatherResponse.weather}">
      <p>Weather ID: <span th:text="${weather.id}"></span></p>
      <p>Main: <span th:text="${weather.main}"></span></p>
      <p>Description: <span th:text="${weather.description}"></span></p>
    </div>
  </div>
</div>
<div th:if="${weatherResponse == null}">
  <p>No weather data available.</p>
</div>
<button onclick="window.location.href='/reports'">Back to reports</button>
</body>
</html>
