<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Weather Report</title>
</head>
<body>
<h1>Weather Report</h1>
<div th:if="${weatherResponses != null}">
  <div th:each="weatherResponse : ${weatherResponses}">
    <div>
      <h2>Coordinates</h2>
      <p>Longitude: <span th:text="${weatherResponse.coord.lon}"></span></p>
      <p>Latitude: <span th:text="${weatherResponse.coord.lat}"></span></p>
    </div>
    <div>
      <h2>Main</h2>
      <p>Temperature: <span th:text="${weatherResponse.main.temp}"></span></p>
      <p>Feels Like: <span th:text="${weatherResponse.main.feels_like}"></span></p>
      <p>Pressure: <span th:text="${weatherResponse.main.pressure}"></span></p>
      <p>Humidity: <span th:text="${weatherResponse.main.humidity}"></span></p>
      <p>Min Temperature: <span th:text="${weatherResponse.main.temp_min}"></span></p>
      <p>Max Temperature: <span th:text="${weatherResponse.main.temp_max}"></span></p>
      <p>Sea Level: <span th:text="${weatherResponse.main.sea_level}"></span></p>
      <p>Ground Level: <span th:text="${weatherResponse.main.grnd_level}"></span></p>
    </div>
    <div>
      <h2>Weather</h2>
      <div th:each="weather : ${weatherResponse.weather}">
        <p>Weather ID: <span th:text="${weather.id}"></span></p>
        <p>Main: <span th:text="${weather.main}"></span></p>
        <p>Description: <span th:text="${weather.description}"></span></p>
        <p>Icon: <img th:src="@{http://openweathermap.org/img/w/{weather.icon}.png}" alt="Weather Icon"/></p>
      </div>
    </div>
    <div>
      <h2>Base</h2>
      <p>Base: <span th:text="${weatherResponse.base}"></span></p>
    </div>
  </div>
</div>
<div th:if="${weatherResponses == null}">
  <p>No weather data available.</p>
</div>
</body>
</html>
